---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import MailIcon from "../components/icons/Mail.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import BriefCase from "../components/icons/BriefCase.astro";
import CodeIcon from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
import ProfileCheck from "../components/icons/ProfileCheck.astro";
import AboutMe from "../components/AboutMe.astro";




---

<Layout 
title="Porfolio de Gloria Castillo - Desarrolladora y Programadora Web"
description={`Apasionada del desarrollo de software con sólidos conocimientos en tecnologías front-end y back-end. 
Me entusiasma la oportunidad de aplicar mis habilidades en un entorno profesional dinámico.`}
>
	
	<main class="px-4">
		<SectionContainer class="py-44 pb-32">
			<img
				class="rounded-full size-12 mb-4"
				src="https://media.licdn.com/dms/image/D4D03AQFXfYI8FBj-Hw/profile-displayphoto-shrink_200_200/0/1703502987424?e=2147483647&v=beta&t=GhwWT3rD-Bt0jbQMnXHD-TyLMeMd_6CFI4OOId-6EUk"
				alt="gloria photo"
			/>
			<h1
				class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
			>
				Hola, soy Gloria
				<a
					href="https://www.linkedin.com/in/gloria-castillo-gonz%C3%A1lez-3286a2123/"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center"
				>
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
				<span>Titulada en el Ciclo Superior de Desarrollo de Aplicaciones Web.</span>
				<span class="text-yellow-200/90">Desarrolladora y Porgramadora Web.</span>
				<span class="text-red-200/90">De Sevilla, España.</span>
				<span class="opacity-75"
					>Especializada en crear aplicaciones únicas.</span
				>
			</h2>

			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill
					href="https://www.linkedin.com/in/gloria-castillo-gonz%C3%A1lez-3286a2123/">
					<LinkedInIcon class="size-4 md:size-6" />
					LinkedIn
				</SocialPill>

				<SocialPill
					href="mailto:gloriacastillog1696@gmail.com">
					<MailIcon class="size-4 md:size-6" />
					gloriacastillog1696@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>
		<SectionContainer id="experiencia">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<BriefCase class="size-7"/>
				Experiencia laboral
			</h2>
			<Experience/>
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<CodeIcon class="size-7"/>
				Proyectos
			</h2>
			<Projects/>
		</SectionContainer>

		<SectionContainer id="sobre-mi">
			<h2
			  class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
			>
			  <ProfileCheck class="size-8" />
			  Sobre mí
			</h2>
			<AboutMe />
		  </SectionContainer>
		</div>

	</main>
</Layout>
